/* The following code applies to the HOMEPAGE only */

#banner {
  background-color: #021032;
  font-size: 25pt;
  padding: 10px;
  color: white;
}

#banner h1 {
  width: 100%;
  text-align: center;
  text-size: 12px;
}

#wrapper {
  background-color: #063CBF; 
}