/* The following code applies to SUBPAGES */

p::inleiding_toegang{
  border-width : 5px;

}

#between{
  padding: 65px;
}

.img-container {
  float: right;
  width: 30%;
  padding: 0 50px 0 50px;
  text-align: right;
}

.nexttoimg {
  width: 70%;
}

.caption {
  color: #333333;
  font-style: italic;
}

.introduction {
  font-weight: bold;
}